.menu {
	@import "./variables.css";
	--mixed-shadow: 0 4px 8px rgba(79, 70, 229, 0.2), 0 2px 4px rgba(255, 255, 255, 0.4);

	background-color: var(--white);
	grid-area: menu;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 min(1em, 8%);
	box-shadow: var(--mixed-shadow);
	border-radius: 0 0 5px 5px;

	@media (max-width: 400px) {
		flex-direction: column;
		justify-content: end;
	}

	& .menuLinks {
		text-decoration: none;
		padding: min(1em, 4%) 0;

		ul {

			padding: 0;
			margin: 0;
			display: flex;
			list-style: none;
			gap: 1rem;
			font-size: clamp(0.6rem, calc(3vw + 1rem), 1.4rem);

			& li {
				position: relative;

				a {
					text-decoration: none;
					color: var(--primary-color);
					font-weight: 500;
					border-radius: var(--border-radius);
					transition: var(--transition);
					padding: var(--padding);


					&.active {
						&::after {
							content: '';
							position: absolute;
							display: block;
							height: 3px;
							border-radius: 1px;
							width: 100%;
							transform: translate(3%, 0);
							background-color: var(--primary-hover-color);


						}

						color: var(--secondary-color);
					}

				}
			}

		}
	}

	& .menuUser {
		display: flex;
		align-content: start;
		justify-content: center;
		align-items: center;
		gap: 0 1rem;
		font-size: clamp(1.2rem, 0.2991rem + 2.9907vw, 1.5rem);

		& button {
			background-color: var(--button-bd);
			border: none;
			padding: 0.5rem 1rem;
			color: white;
			cursor: pointer;
			border-radius: var(--border-radius);

			@media (max-width:475px) {
				padding: var(--padding);

			}
		}
	}

}
